.login-logo {
    padding: 1rem;
    
    img {
        padding: 2rem;
        background: #fafafa;
        border: solid 2px #454545;
        border-radius: 0.25rem;
        box-shadow: 0 0.2rem 0.5rem #000;
    }
}