<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="barcode"></ion-icon>
      <span>Escáner de Etiquetas</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="gotoZebra()">
      <div class="logo logo-zebra"></div>
    <ion-card-header>
      <ion-card-title>Zebra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pulse aquí en caso de que el dispositivo actual corresponda a una Etiquetadora Zebra.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)="gotoSmartphone()">
    <div class="logo logo-android"></div>
    <ion-card-header>
      <ion-card-title>Android</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pulse aquí en caso de que el dispositivo actual corresponda a un smartphone.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
