<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="barcode"></ion-icon>
      <span>Zebra Scanner</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    showCancelButton="never"
    inputmode="numeric"
    placeholder="buscar por código de barras"
    [(ngModel)]="txtSearch"
    (keyup)="onSearchKeyUp($event)"
    #search
    animated>
  </ion-searchbar>

  <app-card-etiqueta>
  </app-card-etiqueta>
</ion-content>
